* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar {
    /* background-color: #a21c7c; */
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.img-box {
    position: relative;

}

.img-box-img {
    position: absolute;
    width: 98%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* .video-section{
    position:absolute;
    width: 100%;
    z-index: 1;
} */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content>span {
    font-size: 150px;
    color: #fff;
    opacity: 1;
    font-weight: 500;

}

.content>button {
    background-color: #a21c7c;
    border: none;
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 100%;

}

.header-fixed {
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 999;
}

/* .video-boc-sid{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    z-index: 1;
} */
.bg {

    left: 0px;
    top: 0px;
    z-index: 999;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background: #a21c7c;
    animation: sticky 1s;
}

@keyframes sticky {
    0% {
        top: -100px;
    }

    100% {
        top: 0;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* .img-box-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
} */
.navbar-nav>ul {
    display: flex;
    gap: 35px;
    text-align: center;
}

.navbar-nav>ul>li>a {
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

.navbar-nav>ul>li>a:hover {
    color: #fff;
}

.navbar-nav>ul>li {
    list-style: none;
    gap: 40px;
}

.ri-menu-fill {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}

.section-title>h2 {
    font-weight: 400;
    font-family: "Open Sans", sans-serif !important;
}

.sub-title {
    color: Mediumvioletred;
    line-height: 100px;
    font-size: 20px;
}

.about-right-text>p {
    font-size: 18px;
    color: Gray;
    text-align: justify;
    line-height: 30px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif !important;
}


#round {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.img-3 {
    height: 100%;
    width: 100%;

}

.tototo {
    filter: blur(5px) grayscale(10px);
}

.Quick ul>li::marker {
    color: Mediumvioletred;
}

.Quick ul li>a {
    text-decoration: none;
    color: #A7A7A7;
}

.Quick ul li>a:hover {
    color: Mediumvioletred;
    text-decoration: underline;
}

.phone-number:hover {
    color: Mediumvioletred;
    text-decoration: underline;
}

.email-info:hover {
    color: #a21c7c;
    text-decoration: underline;
}

.ri-map-pin-2-fill,
.ri-contacts-fill,
.ri-mail-fill {
    color: Mediumvioletred;

}

.list-none {
    list-style: none;
}

.clr-brand {
    color: Darkslategray;
}


hr {
    width: 100%;
    color: #fff;
    font-size: 10px;
}